#include <winuser.h>
#ifndef IDC_STATIC
#define IDC_STATIC (-1)
#endif

#define to_str(s) to_str_(s)
#define to_str_(s) #s
#define to_hex(s) to_hex_(s)
#define to_hex_(s) 0x ## s

// Icons

1 ICON "xroar-256x256.ico"
2 ICON "xroar-48x48.ico"
3 ICON "xroar-32x32.ico"
4 ICON "xroar-16x16.ico"

// Version info

1 VERSIONINFO
FILEVERSION  RC_VER_MAJOR,RC_VER_MINOR,RC_REV_MAJOR,RC_REV_MINOR
PRODUCTVERSION  RC_VER_MAJOR,RC_VER_MINOR,RC_REV_MAJOR,RC_REV_MINOR
BEGIN

  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "08090000"
    BEGIN
      VALUE "CompanyName", "6809.org.uk"
      VALUE "FileDescription", "Dragon/Tandy CoCo emulator"
      VALUE "FileVersion", to_str(RC_VERSION)
      VALUE "InternalName", "xroar"
      VALUE "LegalCopyright", "Copyright 2003-" to_str(PACKAGE_YEAR) " Ciaran Anscomb.  GNU GPL 3 or later."
      VALUE "OriginalFilename", "xroar.exe"
      VALUE "ProductName", "XRoar"
      VALUE "ProductVersion", to_str(RC_VERSION)
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 0
  END

END

// Dialogues

1 DIALOGEX 0, 0, 223, 89
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About XRoar"
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
FONT 9, "Arial"
BEGIN
   CTEXT to_str(PACKAGE_TEXT), IDC_STATIC, 16, 10, 192, 12
   CTEXT "Copyright \xa9 " to_str(PACKAGE_YEAR) " Ciaran Anscomb <xroar@6809.org.uk>", IDC_STATIC, 8, 28, 208, 12
   // Apparently this "requires v6 of comctl32".  Don't know how to do that in
   // MinGW yet.
   //CONTROL "<a href=""http://www.6809.org.uk/xroar/"">http://www.6809.org.uk/xroar/</a>", 103, "SysLink", WS_CHILD | WS_VISIBLE | WS_GROUP | 0x1, 64, 46, 96, 12
   CTEXT "http://www.6809.org.uk/xroar/", IDC_STATIC, 64, 46, 96, 12
   CONTROL "&Close", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 164, 64, 44, 14
END
